<%= form_with(model: statement, local: true) do |form| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :performed_at %>
    <%= form.datetime_select :performed_at %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost %>
  </div>

  <div class="field">
    <%= form.label :merchant %>
    <%= form.text_field :merchant %>
  </div>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.number_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
