<p id="notice"><%= notice %></p>

<p>
  <strong>Last4:</strong>
  <%= @card.last4 %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
